absl-py==0.14.1
cachetools==4.2.4
certifi==2021.10.8
cffi==1.14.6
charset-normalizer==2.0.6
cloudpickle==1.2.2
Cython==0.29.24
decorator==4.4.2
fasteners==0.16.3
future==0.18.2
glfw==2.3.0
google-auth==1.35.0
google-auth-oauthlib==0.4.6
grpcio==1.41.0
gym==0.15.4
idna==3.2
imageio==2.9.0
imageio-ffmpeg==0.4.5
Markdown==3.3.4
moviepy==1.0.3
mujoco-py==2.0.2.13
-e git+https://github.com/vitchyr/multiworld.git@12a05bfa4139f90741608ba409edebb95d7ef9ab#egg=multiworld
numpy==1.21.2
oauthlib==3.1.1
opencv-python==4.5.3.56
Pillow==8.3.2
proglog==0.1.9
protobuf==3.18.1
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.20
pygame==2.0.1
pyglet==1.3.2
requests==2.26.0
requests-oauthlib==1.3.0
rsa==4.7.2
scipy==1.7.1
six==1.16.0
tensorboard==2.6.0
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.0
torch==1.9.1
tqdm==4.62.3
typing-extensions==3.10.0.2
urllib3==1.26.7
Werkzeug==2.0.2
